#_window_sparqlQueryWindow {
  width: 500px;
}

#_window_sparqlQueryWindow_form {
  width: 100%;
}

#_window_sparqlQueryWindow_query_text_area {
  width: 98%;
  
}

#_window_sparqlQueryWindow_data_view {
  width: 100%;
  padding-top: 3px;
  visibility: hidden;
  overflow: scroll;
  height: 200px;
}
#_window_sparqlQueryWindow_semantic_data_view {
  visibility: hidden;
  width: 100%;
  padding-top: 3px;
  overflow: scroll;
  height: 150px;
}
#_window_sparqlQueryWindow_json_data_view{
  visibility: hidden;
  width: 100%;
  padding-top: 3px;
  overflow: scroll;
  height: 200px;
}

.d3_graph {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
